.container {
    padding: 24px;
}

.title {
    text-align: center;
    font-size: 4vw;
}

.form {
    text-align: center;
    margin-top: 30px;
}

.inputField,
.inputButton {
    border: 1px solid black;
    border-radius: 8px;
    padding: 14px;
}

.inputField{
    margin-right: 10px;
    width: 34%;
}

.sortButton {
    display: flex;
    justify-content: flex-end;
}
.sortButton button:first-child {
    margin-right: 6px;
}

.sortButton button{
    border: 1px solid black;
    border-radius: 8px;
    padding: 9px;
}
.chartContainer {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.chartContainer img {
    margin-right: 16px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .title {
        font-size: 2vh;
    }
    .form {
        text-align: right;
        margin-top: 24px;
    }
    .inputField{
        margin-right: 6px;
        width: 64%;
    }
    .sortButton button:first-child {
        margin-right: 4px;
    }
    
    .sortButton button{
        border: 1px solid black;
        border-radius: 8px;
        padding: 9px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .title {
        font-size: 3vh;
    }
}
  